*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.JobView_Page{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    
}
.sideBarComponent{
    width: 20%;
   
}
.mainPageOfJobView{
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.jobDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.jobDetailsBox1{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 30px;
    
}
.box{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 60px;
   
}

.box p{
    text-align: left;
}
.jobDetailsBox2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 30px;
}


.desc{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.editBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.editBtn button{
    background-color: black;
    color: white;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
