*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jobDetail_Page{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
}
.jobDetail_Page_LeftSideBar{ 
    width: 20%;    
}
.jobDetail_MainPage{
    width: 80%;
    padding: 30px;
}
.ccc{
    width: 100%;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}
.job_form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job input{
    width: 100%;
    padding: 15px;
}
.job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.jobDetailTitle{
    margin-bottom: 20px;
}
.saveBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.savebtn{
    background-color: black;
    color: white;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
label{
    font-size: 12px;
    font-weight: bold;
}
